.vscode/

# contains private data. Directly push it to server
secret/

# config variables. Directly push to server
app.ini.php

# Dont upload test data to github
public/chakraData/**

/public/node_modules

