@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700,900|Dosis:800|Playfair+Display:400,400italic,900italic|Lora:700|Syncopate:700|Roboto+Condensed:300italic|Oswald:700);

/* General link styles */

.grid__item {
    text-align: center;
}

.link {
    outline: none;
    text-decoration: none;
    position: relative;
    font-size: 8em;
    line-height: 1;
    color: #9e9ba4;
    display: inline-block;
}


/* Yaku */

.link--yaku {
    color: #D3D3D3;
    font-family: 'Playfair Display';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 9em;
    overflow: hidden;
    padding: 0 0 10px;
}

.link--yaku::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-width: 2px 0;
    border-color: #282828;
    border-style: solid;
    left: 0;
    /*
    -webkit-transform: translate3d(-101%, 0, 0);
transform: translate3d(-101%, 0, 0);
-webkit-transition: -webkit-transform 0.5s;
transition: transform 0.5s;
*/
}


/*
.link--yaku:hover::before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}*/

.link--yaku span {
    display: inline-block;
    position: relative;
    -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
    transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
    -webkit-transition: -webkit-transform 0.5s, color 0.5s;
    transition: transform 0.5s, color 0.5s;
}

.link--yaku:hover span {
    /*    color: #1e1a1b;*/
    /*    color: #2C3E50;*/
    color: #5760e4;
    -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
    transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
}

.link--yaku:hover span:nth-child(5),
.link--yaku:hover span:nth-child(6) {
    transition-delay: 0.2s;
}


/*
.link--yaku span:nth-child(4),
.link--yaku:hover span:first-child {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.link--yaku span:nth-child(3),
.link--yaku:hover span:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.link--yaku span:nth-child(2),
.link--yaku:hover span:nth-child(3) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.link--yaku span:first-child,
.link--yaku:hover span:nth-child(4) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}*/


/* Media Queries */

@media screen and (max-width: 50em) {
    .grid__item {
        width: 100%;
    }
}

@media screen and (max-width: 80em) {
    .link--yaku {
        font-size: 7em;
    }
}

@media screen and (max-width: 65em) {
    .link--yaku {
        font-size: 5em;
    }
}

@media screen and (max-width: 50em) {
    .link--yaku {
        font-size: 4em;
    }
}

@media screen and (max-width: 35em) {
    .link--yaku {
        font-size: 2em;
    }
}